<div class="row first-row">
  <div class="small-12 medium-12 large-12 small-centered columns">
    <h1>New Project</h1>

    <p>
      <%= link_to("â† All Projects", works_path) %>
    </p>

    <%= render 'form' %>
  </div>
</div>