<div class="row">
  <div class="small-12 medium-7 large-7 columns">
    <p>
      Hello! My name is Francesca and I’m currently a student at Bournemouth University.
      I got my undergraduate degree in Computer Science and Engineering at Politecnico di Milano
      and in September I started the MSc Computer Animation and Visual Effects.
      I expect to graduate in September 2017.
    </p>

    <h3>Personal Info</h3>
    <p>
      I’m a 22-year-old italian girl and I live in Bournemouth, UK. I’m a great lover of food and I
      enjoy experimenting with new recipes in my free time. I also enjoy watching movies and spend
      quality time with friends and family.
    </p>

    <h3>Aspirations</h3>
    <p>
      I always wanted to be able to combine technology with art, my natural aptitudes with my passions,
      and now the MSc is giving me the right tools to do so. I hope after my graduation to start my
      career to become a Technical Director for either Visual Effects or Feature Animation.
    </p>

    <h3>Website Info</h3>
    <p>
      I like to call this website a “blogfolio”, because it’s a blog and a portfolio at the same time.
      In the “Blog” section I talk about my current experiences at University, the development of the
      latest projects I’m working on and other fun topics that I particularly enjoy.
      The “Works & projects” section is a showcase of my latest projects with relative details.
      <br>
      <br>
      I developed the website in Rails 4.2.6, using Ruby -v 2.3.0p0, and the full source code is
      available on GitHub (the link to the repository is below).
    </p>

  </div>
  <div class="small-12 medium-5 large-5 columns">
    <p>
      <%= image_tag("about-photo.png", alt: "Francesca Galluzzi Photo") %>
    </p>
    <div class="lined-list">
      <ul>
        <li>
          <strong>Location:</strong> Bournemouth, UK
        </li>
        <li>
          <strong>Twitter:</strong> <%= link_to("@Mandarina_P", "https://twitter.com/Mandarina_P", target: "_blank") %>
        </li>
        <li>
          <strong>LinkedIn:</strong> <%= link_to("Francesca Galluzzi", "https://www.linkedin.com/in/francescagalluzzi/en", target: "_blank") %>
        </li>
        <li>
          <strong>GitHub:</strong> <%= link_to("FrancyGallu", "https://github.com/FrancyGallu", target: "_blank") %>
        </li>
      </ul>
    </div>
  </div>
</div>